@import "tailwindcss";

@theme {
    --color-warm-gray: #202020;
    --color-warm-gray-dark: #171717;
    --color-warm-gray-light: #F0F0F0;
    --color-warm-gray-medium: #747474;
    --color-cheese: #ffbf40;

    --font-primary: "Montserrat", "sans-serif";
}

#root {
    width: 100vw;
    height: 100vh;
}

body {
    background: #ffbf40;
    margin: 0;
}

.scroll-fade::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 60px;          
  pointer-events: none;
  background: linear-gradient(to right, transparent, #f8bf40); 
}

